<h4 class = 'text-center'>ようこそ、<%= current_user.name %>さん</h4>
<h2 class = 'text-center mt-2'>[ゲーム一覧]</h2>
<div class = 'w-75 mx-auto row mt-3'>
<%= link_to  "Countup", countups_path, class: 'col btn btn-danger mx-1'%>
<%= link_to  "Zeroone", zeroones_path, class: 'col btn btn-warning mx-1'%>
<%= link_to  "Coming soon", root_path, class: 'col btn btn-info mx-1'%>
</div>